@import "tailwindcss";

@theme {
    --color-text: hsl(0 0% 95%);
    --color-background:  hsl(0 0% 10%);
    --color-primary:  hsl(0 0% 95%);
    --color-secondary:  oklch(0.3791 0 0);
    --color-tertiary:  oklch(0.4459 0 0);
    --color-accent:  hsl(210, 60%, 75%);
    --color-error: hsl(358.93, 41.13%, 52.33%);
}