.typst-body blockquote {
  border-left: 3px solid var(--color-tertiary);
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 3px;
  background-color: var(--color-primary);
}

/* Code styles */
  .typst-body pre {
    background-color: var(--color-primary);
    border-radius: .4em;
    border: 1px solid var(--color-secondary);
    padding: 1em;
    overflow: auto; /* keep layout stable */

    /* Firefox Hide Scrollbar */
    scrollbar-width: none; 
    scrollbar-color: #888 var(--color-primary);
  }

  /* Firefox Scrollbar Style */
  .typst-body pre:hover {
    scrollbar-width: auto; /* Firefox shows scrollbar */
  }

  /* WebKit Hide Scrollbar */
  .typst-body pre::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .typst-body pre:hover::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .typst-body pre > code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    padding: 0;
    border: none;
  }

  .typst-body code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    background-color: var(--color-primary);
    border-radius: .4em;
    padding: .2em;
    border: 1px solid var(--color-secondary);
  }

/* End code styles */

/* List styles */
.typst-body li {
  margin-left: 2em;
}

.typst-body ul {
  list-style-type: disc;
}

.typst-body ol {
  list-style-type: decimal;
}

/* Heading styles */
.typst-body h1 {
  font-size: 2.5em;
  line-height: 1.3em;
}

.typst-body h2 {
  font-size: 2em;
  line-height: 1.3em;
  color: var(--color-accent);
}
.typst-body h3 {
  font-size: 1.5em;
  color: var(--color-accent);
}

.typst-body h1,
.typst-body h2,
.typst-body h3 {
  padding: .3em;
  text-justify:inter-ideograph;
  border-bottom: 1px solid var(--color-secondary);
}

/* Misc */
.typst-body a {
  color: var(--color-accent);
  text-decoration-line: underline;
}

.typst-body img {
  padding: 1em;
  background-color: var(--color-primary);
}
