.markdown-body blockquote {
  border-left: 3px solid #999;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 3px;
  background-color: #232323;
}

/* Code styles */
.markdown-body pre {
  background-color: #232323;
  border-radius: .4em;
  border: 1px solid #424242;
  padding: 1em;
  overflow: scroll;
}

.markdown-body pre > code {
  font-family: Menlo, Monaco, "Courier New", monospace;
  padding: 0;
  border: none;
}

.markdown-body code {
  font-family: Menlo, Monaco, "Courier New", monospace;
  background-color: #232323;
  border-radius: .4em;
  padding: .2em;
  border: 1px solid #424242;
}

/* List styles */
.markdown-body li {
  margin-left: 2em;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

/* Heading styles */
.markdown-body h1 {
  font-size: 2.5em;
  line-height: 1.3em;
}

.markdown-body h2 {
  font-size: 2em;
  line-height: 1.3em;
  color: #92b8e4;
}
.markdown-body h3 {
  font-size: 1.5em;
  color: #92b8e4;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  padding: .3em;
  text-justify:inter-ideograph;
  border-bottom: 1px solid #424242;
}

/* Misc */
.markdown-body a {
  color: #92b8e4;
  text-decoration-line: underline;
}

.markdown-body img {
  padding: 1em;
  background-color: #232323;
}
